body {
    min-height: 100%;
    background: #E8EEF2;
    font-family: Arial, Helvetica, sans-serif;
}

/* Menus */
a {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.nav-list a:hover {
  color: #B72FCC;

}

.img-coruja{
    height: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #000;
  margin: 8px;
  transition: 0.3s;
}

/* MEIO */


.cabeçalho {
    display: flex;
    justify-content: center;

}

header {
    background-color: #4F1A5A;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    margin: auto;
    width: 73%;
    height: 300px;
}

.header_geral{
    text-align: center;
    margin-left: 10%;
    margin-right: 15%;
}

.header_texto1{
    color: #E2CA55;
}

.header_texto2{
    background-color: #E2CA55;
    color: #2C083B;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15%;
}

.Box-explanation-geral {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-left: 15%;
}

.Box-explanation {
    flex: 1;
    margin-right: 5%;
    color: #2C083B;
}

.Box-explanation2 img {
    max-width: 100%;
    height: auto;
    margin-right: 280px;
    margin-top: 8%;
    border-radius: 10px;
}


.promo-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;

}

.promo-box h3 {
    display: flex;

}

.promo-box img {
    width: 110px;
    margin: 15px 15px;
    border-radius: 15px;
}


/*Options Buttons*/
.btn-option{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 2px 10px;
    text-align: center;
    justify-content: center;
}

.btn-option img{
    border-radius: 20%;
    filter: grayscale(100%);
    transition: 1s;
}

.btn-option img:hover{
    filter: none

}

.btn-option h4{
    margin-bottom: -10px;
}

/*Categorys*/

#referenci-category{
    position: relative;
    height: 600px;

}

.category{
    padding: 0 10%;
    text-align: center;
}


/*Mudanças de categorias via js*/

#mensagem-inicial{
    text-align: center;
    margin-top: 5%;
}

#Beatriz, #Gabriel_Eduardo, #Jessica, #Julia, #Kaiky, #Gabriel_Viana, #Maira, #Leticia{
    display: none;
}

figcaption {
    display: flex;
    justify-content: center;
}

hr {
    display: flex;
    width: 72%;
    border: 2px solid #c4c4c4;
}

.Primeira-linha hr {
    margin-top: 2%;

}

.promo-section hr {
    margin-top: 0%;
    margin-bottom: 2%;
}

.Primeira_Imagem{
    height: 375px;
    margin-top: 3%;
    border-radius: 10%;
}

/* Footer */

footer {
    border: #000 solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #272727;
    color: aliceblue;
    text-decoration: none;
    flex-wrap: wrap;
}

footer div {
    margin: 10px 25px;
    padding: 15px 50px;
}

footer a {
    color: aliceblue;
}

footer img {
    width: 25px;
    margin: 5px 15px;
}

#mapa {
    text-align: center;
}

#mapa iframe {
    width: 300px;
    height: 150px;
}

#Atendimento h3 {
    text-align: start;
}

#Atendimento ul {
    list-style: none;
    text-align: center;
}

#Atendimento li {
    margin: 5px 2px;
}

#atendimento li a {
    text-decoration: none;
}

.social-medias a {
    font-size: 25px;
    margin: 10px 10px;
}