*{
    margin: 0;
    padding: 0;

}


body{
    min-height: 100%;
    background: #E8EEF2;
}

form input{
    margin: 5px;
    
}

svg{
    margin: auto;

}

#box{
    display: flex;
    justify-content: center;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    
}


form{
    display: flex;
    flex-direction: column;
    background-color: #A4243B;
    width: 500px;
    height: 260px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.botao{
margin-top: 30px;
padding: 15px;
border-radius: 25px;
border-style: none;
text-decoration: none;

}

.botao:hover{
    background-color: #FFB400;
    color: #fff;
    transition: 0.4s;
}

.esqueceu{
    margin-right: 20px;
    text-align: right;
    color: #FFB400;

}

input{
    padding: 15px;
    border-radius: 25px;
    border-style: none;
}

label {
    color: #FFB400;
}

.cadastro{
    margin-top: 10px;
    border-style: none;
    color: #FFB400;
}

.SemCadastro{
    color: #A4243B;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    
    svg {
        margin: auto;
        justify-content: center;
        flex-direction: column;
        width: 75%;
        height: auto;

    }

    form{
        width: 90%; /* Modificando a largura para se ajustar melhor em telas pequenas */
        height: auto; /* Alterando a altura para se ajustar automaticamente ao conteúdo */
        margin: auto;
        margin-top: 25%;
        justify-content: center;
        flex-direction: column;
    }
}